*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: salam;
}

@font-face {
    font-family: salam;
    src: url(static/Montserrat-Medium.ttf);
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }
  .container {
    width: 100%;
    padding: 0 0;
    margin: 0 auto;
  }
[class*="col-"] {
    padding: 0 15px;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }


  header{
    background-color: #1B3764;
  }

  .navbar{
    padding: 25px;
  }
.navbar ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.btn{
    color: black;
 border: 1px solid #FFCA42;
 background-color: #FFCA42;
 padding: 20px 40px;
 transition: 0.3s;
}
.btn:hover{
    background-color: white;
    border-color: white;
    }

.right-nav{
   display: flex;
   justify-content: right;
   gap: 20px;
   align-items: center;
}


.right-nav a{
 color: white;
 margin-right: 10px;
}

.right-nav .btn{
 color: black;
 border: 1px solid #FFCA42;
 background-color: #FFCA42;
 padding: 20px 40px;
 transition: 0.3s;
   }

   .right-nav .btn:hover{
    background-color: white;
    border-color: white;
    }
.left-nav{
    display: flex;
    justify-content: left;
    gap: 20px;
}
.left-nav ul :nth-child(2) img {
   height: 24px;
   width: 25px;

}
.left-nav ul :not(:first-child) img {
   
    border: 1px solid white;
    padding: 5px;
    background-color: white;
}




.page-line{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.line{
    border: 1px solid #FFCA42 ;
    background-color: #FFCA42;
    height: 1px;
    width: 20px;
}


.right-side{
    padding: 60px 0;
}


.left-side{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: left;
}

.left-side h1{
  font-size: 40px;
  color: white;
}

.left-side p{
  color: white;
  }

.main-button {
   display: flex;
   justify-content: left;
   align-items: center;
   gap: 50px;
}

.main-button .read {
   color: white;
 
   border-bottom: 1px solid white;
   transition: 0.3s;
   padding: 4px;
   
 }
.main-button .read:hover {
   color: #FFCA42;
   border-color: #FFCA42;
 }

 .left-side ul{
    display: flex;
    justify-content: left;
    gap: 90px;
 }

 .left-side ul li{
    position: relative;
    color: white;
 }

 .left-side ul li::before{
    content: "";
    position: absolute;
    border: 1px solid #FFCA42 ;
    border-radius: 50%;
    background-color: #FFCA42;
    height: 16px;
    width: 16px;
    left: -20px;
 }

 .left-side ul .first::after{
 content: "250pages";
 position: absolute;
 color: #B4C7E7;
 top: 30px;
 left: -20px;
 font-size: 13px;
 }

 .left-side ul .second::after{
    content: "10 Hours";
    position: absolute;
    color: #B4C7E7;
    top: 30px;
    left: -10px;
    font-size: 13px;
    }

    .left-side ul .third::after{
        content: "4.5/5(305 ratings)";
        position: absolute;
        color: #B4C7E7;
        top: 30px;
        left: -60px;
        font-size: 13px;
        }







  @media screen and (max-width: 600px) {
    .container {
      max-width: 576px;
    }
  
    .col-xs-1 {
      width: 8.33%;
    }
    .col-xs-2 {
      width: 16.66%;
    }
    .col-xs-3 {
      width: 25%;
    }
    .col-xs-4 {
      width: 33.33%;
    }
    .col-xs-5 {
      width: 41.66%;
    }
    .col-xs-6 {
      width: 50%;
    }
    .col-xs-7 {
      width: 58.33%;
    }
    .col-xs-8 {
      width: 66.66%;
    }
    .col-xs-9 {
      width: 75%;
    }
    .col-xs-10 {
      width: 83.33%;
    }
    .col-xs-11 {
      width: 91.66%;
    }
    .col-xs-12 {
      width: 100%;
    }
}
  @media screen and (min-width: 600px) {
    .container {
      max-width: 768px;
    }
  
    .col-sm-1 {
      width: 8.33%;
    }
    .col-sm-2 {
      width: 16.66%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-4 {
      width: 33.33%;
    }
    .col-sm-5 {
      width: 41.66%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33%;
    }
    .col-sm-8 {
      width: 66.66%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-10 {
      width: 83.33%;
    }
    .col-sm-11 {
      width: 91.66%;
    }
    .col-sm-12 {
      width: 100%;
    }
}
  @media screen and (min-width: 992px) {
    .container {
      max-width: 1024px;
    }
  
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
}